@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Manrope', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

svg {
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {

  border-radius: 10px;
  background: #3470ff;
}

.modal-open {
  overflow: hidden;
  padding-right: 8px;
}

.giphy-embed {
  margin: 100px auto 0 auto;
}
